<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Buffet Proevent{% endblock %}</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'dashboard/assets/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}
    <!-- El contenido específico de cada página irá aquí -->
    {% endblock %}
</body>
</html>