{% extends 'dashboard/base.html' %}

{% block title %}Dashboard - Buffet Proevent{% endblock %}

{% block content %}
        <!-- Cargar Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h1>Bienvenido al Dashboard</h1>
<p>Aquí puedes gestionar tu aplicación.</p>
<a href="{% url 'logout' %}">Cerrar sesión</a>  <!-- Enlace para cerrar sesión -->
{% endblock %}